@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,300;1,100&family=Bebas+Neue&family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,700;1,300;1,700&family=Merriweather:ital,wght@0,300;1,400&family=Permanent+Marker&family=Poiret+One&family=Ranga:wght@400;700&display=swap');

* {
  font-family: 'Merriweather', serif
  }
  
  .App {
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 auto;
    width: 300px;
  }

